<div class="container-fluid gn-bg-image">
  <div class="gn-logo-nav">
    <a data-gn-active-tb-item="http://www.ga.gov.au/" title="Navigate to the Geoscience Australia home page">
      <img class="gn-logo" data-ng-src="../../catalog/views/default/images/ga.header.logo.png" />
    </a>
  </div>
  <div class="row gn-row-main">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="input-group gn-form-any">
        <input type="text" class="form-control input-lg" autofocus="" data-ng-model="homeAnyField"
          data-ng-model-options="modelOptions" placeholder="Data and Publications Search..."
          data-ng-keyup="$event.keyCode == 13 && goToSearch(homeAnyField)"
          data-typeahead="address for address in getAnySuggestions($viewValue)" data-typeahead-loading="anyLoading"
          data-typeahead-min-length="1" />
        <span class="input-group-btn">
          <a class="btn btn-primary btn-lg" type="button" data-ng-href="#/search?any={{homeAnyField}}">
            <i class="fa fa-search"></i>
          </a>
        </span>
      </div>
      <div data-translate="" class="search-over" data-translate-values="{records: '{{searchInfo.count}}'}">searchOver
      </div>
    </div>
  </div>
  <div class="row" data-ng-show="searchInfo.count == 0">
    <div data-ng-show="searchInfo.count == 0" class="col-md-offset-4 col-md-4 alert alert-warning">
      <span data-translate="">noDataInCatalog</span>
      <div data-gn-need-help="user-guide/quick-start/index.html"></div>
    </div>
  </div>
  <div class="row" data-ng-show="searchInfo.count > 0">
    <div class="col-sm-12" data-ng-show="browse !== ''">
      <div class="col-sm-12" data-ng-show="searchInfo.facet['types'].length > 0">
        <div class="row">
          <ul class="gn_pane" id="chips-card" data-ng-repeat="(key, facet) in searchInfo.facet['types']"
            data-ng-show="facet['@label']" class="col-xs-6 col-sm-6 col-lg-6">
            <li>
              <div class="badge-icon">
                <a data-ng-href="#/search?facet.q=type%2F{{facet['@name']}}">
                  <span class="badge-result badge-result-type">
                    <i class="fa fa-3x fa-table gn-icon gn-icon-{{facet['@name']}}"></i>
                  </span>
                </a>
              </div>
              <div class="badge-text">
                <a title="{{facet['@label']}}" data-ng-href="#/search?facet.q=type%2F{{facet['@name']}}">
                  <span class="gn-icon-label">{{facet['@label']}}</span><br>
                  <span class="badge">{{facet['@count']}}</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!--<div class="row">
    <ul class="nav navbar-nav" style="align-items: center">
    <li  data-ng-repeat="(key, facet) in searchInfo.facet['types']" data-ng-show="facet['@label']" style="width:200px">
      <div class="badge-icon">
        <a data-ng-href="#/search?facet.q=type%2F{{facet['@name']}}">
          <span class="badge-result badge-result-type">
            <i class="fa fa-3x fa-table gn-icon gn-icon-{{facet['@name']}}"></i>
          </span>
        </a>
      </div>
      <div class="badge-text">
        <a title="{{facet['@label']}}" data-ng-href="#/search?facet.q=type%2F{{facet['@name']}}">
          <span class="gn-icon-label">{{facet['@label']}}</span><br>
          <span class="badge">{{facet['@count']}}</span>
        </a>
      </div>
    </li>
  </ul>
  </div>-->
  
  
  <div>
    <ul class="nav navbar-nav">
      <li>
        <a href="https://creativecommons.org/licenses/by/4.0/legalcode" target="_blank"
          title="Go to Creative Commons home page">
          <img src="../../catalog/views/default/images/cc-by.png" height="20" width="107"
            alt="Creative Commons Logo"></img></a>
      </li>
      <li>
        <a href="http://www.ga.gov.au/copyright" target="_blank"
          title="View Geoscience Australia copyright statement">Copyright</a>
      </li>
      <li>
        <a href="http://www.ga.gov.au/disclaimer" target="_blank"
          title="View Geoscience Australia disclaimer web page">Disclaimer</a>
      </li>
      <li>
        <a href="http://www.ga.gov.au/privacy" target="_blank"
          title="View Geoscience Australia privacy policy">Privacy</a>
      </li>
      <li>
        <a href="http://www.ga.gov.au/accessibility" target="_blank"
          title="View Geoscience Australia accessibility statement">Accessibility</a>
      </li>
      <li>
        <a href="http://www.ga.gov.au/ips" target="_blank"
          title="View Geoscience Australia privacy statement">Information Publication Scheme</a>
      </li>
      <li>
        <a href="http://www.ga.gov.au/ips/foi" target="_blank"
          title="View Geoscience Australia freedom of information statement">Freedom of Information</a>
      </li>
      <li>
        <a href="http://www.ga.gov.au/contact-us" target="_blank" title="Contact Geoscience Australia">Contact us</a>
      </li>
    </ul>
  </div>

</div>