<div class="gn-logo-nav">
  <div class=container-fluid>
    <div class=row>
      <a class="col-sm-12 col-md-2" data-gn-active-tb-item="http://www.ga.gov.au/"
        title="Navigate to the Geoscience Australia home page">
        <img class="gn-logo" data-ng-src="../../catalog/views/default/images/ga.header.logo.png" />
      </a>
      <!-- <a data-gn-active-tb-item="catalog.search#/search"> 
            <span class="title-lg">Data and Publications Search and Metadata Entry
                Tool</span>
             </a> -->
      <a class="col-sm-12 col-md-4" data-gn-active-tb-item="catalog.search#/home" title="eCat Home Page">
        <span class="title-lg">Data and Publications</span>
      </a>

      <!--<img data-ng-src="../../catalog/views/inline/images/eCat_logo.jpg" data-ng-if="user.isEditorOrMore()" />-->
      <div class="col-sm-12 col-md-2" class="ecat-news" data-ng-if="user.isEditorOrMore()">
        <a href="https://intranet.ga.gov.au/records-and-data/ecat" target="_blank"
          title="What's new to eCat application"><i class="fa fa fa-lightbulb-o"></i>What's new</a>
      </div>

      <div class="col-sm-12 col-md-1 pull-right">
        <a data-ng-if="authenticated" href="../../signout" class="btn btn-lg signin-btn"
          title="{{'signout' | translate}}">
          <i class="fa fa-sign-out"></i>&nbsp;
          {{'signout' | translate}}
        </a>
        <a data-ng-if="!authenticated && service !== 'catalog.signin' && isIntranet" href="{{pages.signin}}"
          class="btn btn-lg signin-btn" title="{{'signIn'|translate}}" data-ng-keypress="$event">
          <i class="fa fa-sign-in" />&nbsp;
          {{'signIn' | translate}}
        </a>
      </div>

      <!--<a class="btn btn-lg signin-btn" role="button">Sign In</a>-->
    </div>
  </div>

</div>

<div class="ga-line"></div>
<!--<div class="navbar navbar-custom gn-top-bar" role="navigation"
    data-ng-include="'../../catalog/templates/top-toolbar.html'" xmlns="http://www.w3.org/1999/html">
  </div>-->

<div class="gn-search-page" data-ng-controller="GnSearchController">
  <cookiewarning></cookiewarning>
  <div class="" data-ng-controller="gnsDefault">
    <gn-extend-mainctrl></gn-extend-mainctrl>

    <div data-ng-include="'../../catalog/views/default/templates/home.html'" data-ng-show="activeTab == '/home'" />
    <div data-ng-include="'../../catalog/views/default/templates/results.html'" data-ng-show="activeTab == '/search'" />
    <div data-ng-if="isMapViewerEnabled" data-ng-include="'../../catalog/views/default/templates/map.html'"
      data-ng-show="activeTab == '/map'" />
    <div data-ng-include="'../../catalog/views/default/templates/recordView.html'"
      data-ng-show="activeTab == '/metadata'" />
  </div>
</div>

<footer id="footer-main" class="footer-global">

  <div class="container">
    <div class="block-group">

      <nav id="footer-bottom-nav" class="block col-width-auto">
        <ul class="nav nav-pills">
          <!--  <li>&copy; Commonwealth of Australia</li> -->
          <li><a href="http://www.ga.gov.au/copyright">Copyright</a></li>
          <li><a href="http://www.ga.gov.au/privacy">Privacy</a></li>
          <li><a href="http://www.ga.gov.au/accessibility">Accessibility</a></li>
          <li><a href="http://www.ga.gov.au/sitemap">Sitemap</a></li>
          <li><a href="http://www.ga.gov.au/ips">Information Publication Scheme</a></li>
          <li><a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a></li>
        </ul>
      </nav>

      <div class="block col-lg-1-12" style="padding-top:15px;">Geoscience Australia acknowledges the
        traditional owners of the country throughout Australia and their continuing connection to land, sea
        and community. We pay our respect to them and their cultures and to the elders past and present.
      </div>

    </div>
  </div>
</footer>