<div class="gn-new-facet">
  <div data-ng-repeat="f in dimension track by $index" data-ng-init="fLabel = f['@label']">
  <h4 data-toggle="collapse" data-target="#group-{{$index}}">
    <i class="fa fa-fw fa-toggle-on fa-toggle-color fa-3 parent-expanded"></i>
    <i class="fa fa-fw fa-toggle-off fa-toggle-color fa-3 parent-collapsed"></i>
    {{fLabel | translate}}
  </h4>
  <div id="group-{{$index}}" class="collapse in">
      <div data-gn-facet-dimension-category="f.category"
        data-category-key="fLabel"
        data-params="params"
        data-facet-config="facetConfig">
      </div>
  </div>
</div>
</div>
