<div class="ecat-pagination" data-ng-show="config.pages > 0">

  <!-- A dropdown button to select the number of page
  and indicating the current page info -->
  <span data-ng-hide="values && values.length > 1">
    {{config.from}} - {{config.to}}
    <em data-translate="">on</em>
    {{config.resultsCount}}
  </span>
  <div class="btn-group" data-ng-show="values && values.length > 1" title="{{'chooseRecordsPerPage' | translate}}">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      {{config.from}}-{{config.to}}
      <em data-translate="">of</em>
      {{config.resultsCount}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header" data-translate="">hitsPerPage
      </li>
      <li data-ng-repeat="nb in values" data-ng-class="nb === config.hitsPerPage ? 'disabled' : ''">
        <a data-ng-click="updateSearch(nb)">{{nb}}</a>
      </li>
    </ul>
  </div>
  
  <ul class="pagination">
    <li ng-class="{disabled:config.currentPage === 1}">
      <a ng-click="first()"><i class="fa fa-angle-double-left"></i></a>
    </li>
    <li ng-class="{disabled:config.currentPage === 1}">
      <a ng-click="previous()"><i class="fa fa-angle-left"></i></a>
    </li>
    <li ng-class="{disabled:config.currentPage === config.pages}">
      <a ng-click="next()"><i class="fa fa-angle-right"></i></a>
    </li>
    <li ng-class="{disabled:config.currentPage === config.pages}">
      <a ng-click="last()"><i class="fa fa-angle-double-right"></i></a>
    </li>
  </ul>
</div>
